/* TABLET */
@media (max-width: 1024px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .nav-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bars-left-tablet {
    cursor: pointer;
  }

  .mobile-head-action-tablet a {
    margin: 0 5px;
  }

  .logo-tablet a {
    position: relative;
    font-size: 1.7rem;
    left: 45px;
  }

  /* OPEN */

  .hamburger-subMenu-tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #fff;

    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 1000;
  }

  .hamburger-subMenu-tablet.open {
    transform: translateX(0);
  }

  /* SHOP PROTEIN LIST */
  .shop-protein-popcorn-list-tablet {
    position: absolute;
    top: 0;
    left: 0;
    border-left: solid 2px var(--main-color);
    width: 100%;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    pointer-events: none;
    transition: trasform 0.2s ease;
    z-index: 100;
  }

  .shop-protein-popcorn-list-tablet.open-shop {
    width: 500px;
    left: 340px;
    transform: translateX(0);
    pointer-events: auto;
  }

  .back-and-close-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .shop-protein-popcorn-list-tablet ul {
    margin: 20px 30px;
  }

  .hamburger-subMenu-inner-tablet {
    margin: auto 20px;
  }

  .close-button-tablet {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .find-button-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }

  .find-button-hamburger-tablet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    white-space: nowrap;
    border: solid 2px var(--main-color);
    padding: 0.6em 5em;
    border-radius: 40px;
    box-sizing: border-box;
  }

  .section-1-tablet {
    display: flex;
    flex-direction: column;
  }

  .section-1-tablet a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-1-tablet a:hover {
    color: gray;
  }

  .shop-protein-popcorn-angle-tablet {
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    transition: color 0.3s ease;
  }

  .shop-protein-popcorn-angle-tablet:hover {
    color: gray;
  }

  .diveder-tablet {
    margin: 20px 0;
    background-color: var(--main-color);
    padding: 0.6px 20px;
  }

  .section-2-tablet a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-2-tablet a:hover {
    color: gray;
  }
}
