.top-nav {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 224, 120);
  padding: 10px 10px;
}

.top-nav p {
  color: var(--main-color);
  font-size: 0.8rem;
}

.top-nav a {
  margin-left: 3px;
  font-size: 0.8rem;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-item--has-submenu {
  cursor: pointer;
  position: relative;
}

.nav-item--has-submenu span,
a {
  font-family: var(--main-font);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-color);
}

/* ---------------------------------------------------------- */

/* Angle_Label */
.angle_label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  perspective: 600px;
}

.icon {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d; /* mantiene l’effetto 3D */
}
/* ----------------------------------------------------- */

/* classe applicata al hover → flip verticale */
.icon.flipped {
  transform: rotateX(180deg); /* flip verso l’alto */
}

/* -------------------------------------------------- */

/* SubMenu Navbar */

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.subMenu {
  display: flex;
  position: absolute;
  margin-top: 50px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  pointer-events: none;
  background-color: #fff;
  border-radius: 14px;
  height: 390px;
  z-index: 100;
}

.subMenu::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
}
.nav-item--has-submenu:hover .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.subMenu-list {
  width: 35vh;
}
.subMenu ul,
li {
  list-style: none;
  padding: 10px 10px;
}

.subMenu li a {
  position: relative;
  text-decoration: none;
  color: var(--main-color);
  padding: 5px 0;
  display: inline-block;
}

.subMenu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: trasform 0.3 ease;
}

.subMenu li a:hover::after {
  transform: scaleX(1);
}

.subMenu-inner {
  display: flex;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}

.subMenu-img {
  width: 450px; /* larghezza ritagliata */
  height: 420px; /* altezza ritagliata */
  overflow: hidden; /* ritaglia tutto ciò che esce dal contenitore */
  border-radius: 0;
  position: relative;
}
.subMenu-img img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.subMenu-img img:hover {
  transform: scale(1.1);
}
/* -------------------------------------------------------- */

/* overtext-image */

.overlay-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: var(--main-color);
}

.overlay-text span {
  font-size: 1.5rem;
}

.overlay-text p {
  font-family: var(--main-font);
  font-size: 1.1rem;
}

.overlay-text a {
  display: inline-block;
  margin-top: 10px;
  color: var(--main-color);
  text-decoration: underline;
  font-size: 1.2rem;
}

/* -------------------------------------------------- */

.why-khloud {
  margin-left: 10px;
}

.Logo a {
  font-size: 2.5rem;
  cursor: pointer;
}

/* header-actions */

.header-actions a {
  margin-right: 30px;
}

/* ----------------------------------------- */

/* button */

.button {
  padding: 10px 20px;
  border: solid var(--main-color) 2px;
  border-radius: 30px;
  cursor: pointer;

  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--main-color);
  color: #fff;
}
