.nav-mobile,
.nav-tablet {
  display: none;
}

.top-nav {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 224, 120);
  padding: 10px 10px;
}

.top-nav p {
  color: var(--main-color);
  font-size: 0.8rem;
}

.top-nav a {
  margin-left: 3px;
  font-size: 0.8rem;
  text-decoration: underline;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav-item--has-submenu {
  cursor: pointer;
  position: relative;
}

.nav-item--has-submenu span,
a {
  font-family: var(--main-font);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--main-color);
}

/* ---------------------------------------------------------- */

/* Angle_Label */
.angle_label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  perspective: 600px;
}

.icon {
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d; /* mantiene l’effetto 3D */
}
/* ----------------------------------------------------- */

/* classe applicata al hover → flip verticale */
.icon.flipped {
  transform: rotateX(180deg); /* flip verso l’alto */
}

/* -------------------------------------------------- */

/* SubMenu Navbar */

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.subMenu {
  display: flex;
  position: absolute;
  margin-top: 30px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  pointer-events: none;
  background-color: #fff;
  border-radius: 14px;
  height: 420px;
  z-index: 100;
}

.subMenu::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
}
.nav-item--has-submenu:hover .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.subMenu-list {
  width: 35vh;
}
.subMenu ul,
li {
  list-style: none;
  padding: 10px 10px;
}

.subMenu li a {
  position: relative;
  text-decoration: none;
  color: var(--main-color);
  padding: 5px 0;
  display: inline-block;
}

.subMenu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: trasform 0.3 ease;
}

.subMenu li a:hover::after {
  transform: scaleX(1);
}

.subMenu-inner {
  display: flex;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}

.subMenu-img {
  width: 450px; /* larghezza ritagliata */
  height: 420px; /* altezza ritagliata */
  overflow: hidden; /* ritaglia tutto ciò che esce dal contenitore */
  border-radius: 0;
  position: relative;
}
.subMenu-img img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.subMenu-img img:hover {
  transform: scale(1.1);
}
/* -------------------------------------------------------- */

/* overtext-image */

.overlay-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: var(--main-color);
}

.overlay-text span {
  font-size: 1.5rem;
}

.overlay-text p {
  font-family: var(--main-font);
  font-size: 1.1rem;
}

.overlay-text a {
  display: inline-block;
  margin-top: 10px;
  color: var(--main-color);
  text-decoration: underline;
  font-size: 1.2rem;
}

/* -------------------------------------------------- */

.why-khloud {
  margin-left: 10px;
}

.Logo a {
  font-size: 2.5rem;
  cursor: pointer;
}

/* header-actions */
.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-actions a {
  margin-right: 20px;
}
.header-actions p {
  font-family: var(--main-font);
  color: var(--main-color);
}

/* ----------------------------------------- */

/* button */

.button {
  padding: 10px 20px;
  border: solid var(--main-color) 2px;
  border-radius: 30px;
  cursor: pointer;

  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* TABLET */
@media (max-width: 1024px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .nav-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bars-left-tablet {
    cursor: pointer;
  }

  .mobile-head-action-tablet a {
    margin: 0 5px;
  }

  .logo-tablet a {
    position: relative;
    font-size: 1.7rem;
    left: 45px;
  }

  /* OPEN */

  .hamburger-subMenu-tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 1000;
  }

  .hamburger-subMenu-tablet.open {
    transform: translateX(0);
  }

  /* SHOP PROTEIN LIST */
  .shop-protein-popcorn-list-tablet {
    display: flex;
    top: 0;
    left: 0;
    border-left: solid 2px var(--main-color);
    width: 100%;
    height: 100vh;
    background: #fff;
    transform: translateX(-640px);
    pointer-events: none;
    transition: trasform 0.2s ease;
    z-index: 100;
  }

  .shop-protein-popcorn-list-tablet.open-shop {
    width: 90%;
    left: 100%;
    transform: translateX(0);
    pointer-events: auto;
  }

  .back-and-close-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .shop-protein-popcorn-list-tablet ul {
    margin: 20px 30px;
  }

  .hamburger-subMenu-inner-tablet {
    margin: auto 20px;
  }

  .close-button-tablet {
    display: flex;
    justify-content: flex-end;
  }

  .find-button-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }

  .find-button-hamburger-tablet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    white-space: nowrap;
    border: solid 2px var(--main-color);
    padding: 0.6em 5em;
    border-radius: 40px;
    box-sizing: border-box;
  }

  .section-1-tablet {
    display: flex;
    flex-direction: column;
  }

  .section-1-tablet a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-1-tablet a:hover {
    color: gray;
  }

  .shop-protein-popcorn-angle-tablet {
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    transition: color 0.3s ease;
  }

  .shop-protein-popcorn-angle-tablet:hover {
    color: gray;
  }

  .diveder-tablet {
    margin: 20px 0;
    background-color: var(--main-color);
    padding: 0.6px 20px;
  }

  .section-2-tablet a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-2-tablet a:hover {
    color: gray;
  }
}

/* MOBILE */
@media (max-width: 662px) {
  .nav-desktop {
    display: none;
  }
  .nav-tablet {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bars-left-mobile {
    cursor: pointer;
  }

  .mobile-head-action-mobile a {
    margin: 0 5px;
  }

  .logo-mobile-mobile a {
    position: relative;
    font-size: 1.7rem;
    left: 45px;
  }

  /* OPEN */

  .hamburger-subMenu-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 1rem;
    background: #fff;

    transform: translateY(100%);
    transition: transform 0.2s ease;
    z-index: 1000;
  }

  .hamburger-subMenu-mobile.open-mobile {
    transform: translateY(0);
  }

  .hamburger-subMenu-inner-mobile {
    margin: auto 20px;
  }
  .close-button-mobile {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .find-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }

  .find-button-hamburger-mobile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    white-space: nowrap;
    border: solid 2px var(--main-color);
    padding: 0.6em 10em;
    border-radius: 40px;
    box-sizing: border-box;
  }

  .section-1-mobile {
    display: flex;
    flex-direction: column;
  }

  .section-1-mobile a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-1-mobile a:hover {
    color: gray;
  }

  .shop-protein-popcorn-angle-mobile {
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    transition: color 0.3s ease;
  }

  .shop-protein-popcorn-angle-mobile:hover {
    color: gray;
  }
  /* SHOP PROTEIN LIST */

  .shop-protein-popcorn-list-mobile {
    position: fixed;
    inset: 0;
    background: #fff;
    transform: translateY(100%);
    pointer-events: none;
    transition: transform 0.2s ease;
    z-index: 1000;
  }

  .shop-protein-popcorn-list-mobile.open-shop-mobile {
    margin: 10px 30px;
    transform: translateY(0);
    pointer-events: auto;
  }

  .back-and-close-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  .diveder-mobile {
    margin: 20px 0;
    background-color: var(--main-color);
    padding: 0.6px 20px;
  }

  .section-2-mobile a {
    margin: 10px 0;
    transition: color 0.3s ease;
  }

  .section-2-mobile a:hover {
    color: gray;
  }
}
