.why-khloud-container {
  background-color: #f0fbff;
  padding-bottom: 5%;
}

.why-khloud-section {
  display: flex;
  justify-content: center;
}

.why-khloud-section h1 {
  margin-top: 5%;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 4rem;
}

.why-khloud-table {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 40px;
}

.title {
  display: flex;
  background-color: var(--main-color);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.title h1 {
  margin: 20px 80px;
  font-family: var(--main-font);
  font-size: 2rem;
  color: rgb(216, 255, 255);
}

.list {
  border: solid 5px var(--main-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 40px;
}

.good-stuff-list,
.zero-fluff-list {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1.4rem;
  margin: auto;
}

.good-stuff-list li {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.zero-fluff-list li {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.good-stuff-list p {
  margin-left: 90px;
}

.zero-fluff-list p {
  margin-left: 50px;
}
