.intro-product-img {
  height: 700px;
  width: 100%;
  overflow: hidden;
}
.intro-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.intro-product-img img:hover {
  transform: scale(1.1);
}

.intro-product-text-ovelay {
  position: absolute;
  bottom: 30%;
  left: 8%;
  color: var(--main-color);
}

.intro-product-text-ovelay h1 {
  font-family: var(--main-font);
  font-size: 4rem;
}

.intro-product-text-ovelay p {
  font-family: var(--main-font);
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.intro-product-text-ovelay a {
  margin-right: 30px;
}

/* Button */

.button-shop {
  padding: 10px 20px;
  border: solid var(--main-color) 2px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-shop:hover {
  border: solid #ffffff 2px;
  background-color: #ffffff;
  color: var(--main-color);
}

/* Choose-Product */

.choose-product {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c2eeff;
}

.choose-product-h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 3.5rem;
  margin-top: 150px;
}

/* Product */

.product {
  margin-top: 90px;
  padding-bottom: 90px;
}

.product li {
  margin-bottom: 150px;
}

.title-product {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1.2rem;
  text-align: center;
}

.product ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Img-product */

.image-box {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.image-box img:hover {
  border-color: var(--main-color);
}

/* button */
.button-add-to-cart {
  margin-top: 30px;
  border: 2px var(--main-color) solid;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-add-to-cart:hover {
  background-color: var(--main-color);
  color: #fff;
}
