.intro-product-img {
  height: 700px;
  width: 100%;
  overflow: hidden;
}
.intro-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.intro-product-img img:hover {
  transform: scale(1.1);
}

.intro-product-text-ovelay {
  position: absolute;
  bottom: 30%;
  left: 8%;
  color: var(--main-color);
}

.intro-product-text-ovelay h1 {
  font-family: var(--main-font);
  font-size: 4rem;
}

.intro-product-text-ovelay p {
  font-family: var(--main-font);
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.intro-product-text-ovelay a {
  margin-right: 30px;
}

/* Button */

.button-shop {
  padding: 10px 20px;
  border: solid var(--main-color) 2px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button-shop:hover {
  border: solid #ffffff 2px;
  background-color: #ffffff;
  color: var(--main-color);
}

/* Brand value */

.brand-value-img {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.brand-value-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.brand-value-img img:hover {
  transform: scale(1.1);
}

.brand-value-text-overlay {
  position: relative;
  bottom: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.brand-value-text-overlay span {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 3rem;
}

.brand-value-text-overlay p {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2rem;
}

/* button our store */

.button-our-store {
  position: relative;
  bottom: 60%;
  left: 47%;
  padding: 20px 30px;
  border-radius: 40px;
  border: solid 2px transparent;
  background-color: var(--main-color);
  color: #fff;
  transition: background-color 1s ease;
  cursor: pointer;
}

.button-our-store:hover {
  background-color: rgb(183, 255, 251);
  border: 2px solid transparent;
  color: var(--main-color);
}
