

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  right: 0;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  z-index: 1000;
}

.cart.open-cart {
  width: 530px;
  display: inline-flex;
  transform: translateX(0);
}

.product-cart {
  display: flex;
}

.left-side {
  display: flex;
  align-items: center;
  width: 300px;
}

.left-side p {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 0.8rem;
}

.left-side img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.right-side {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.right-side p {
  margin: 0 20px;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 0.8rem;
}

.right-side input {
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0 40px;
  width: 60px;
  text-align: center;
}

.divider {
  border: 1px gray solid;
  margin: 10px 60px;
}

/* Total in Cart */

.total-in-cart {
  position: absolute; /* lo fissiamo rispetto al cart */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 600px;
  width: 100%;
  padding-top: 30px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.total-in-cart h3 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1.5rem;
}
.total-in-cart span {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 1.2rem;
  margin-left: 10px;
}

/* CheckOut */

.toCheckOut {
  position: absolute; /* lo fissiamo rispetto al cart */
  display: flex;
  justify-content: center;
  top: 700px;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-top: 1px solid #ccc;
}

.btn {
  margin-top: 20px;
  bottom: 50px;
  font-family: var(--main-font);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 10px 40px;
  border-radius: 40px;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid transparent;
}
